.maincontainer {
    height: 100%;
    width: 100%;
    padding: 5px 5px 0 5px;
}
body {
    height: 96vh;
    width: 100vw;
}
.row {
    height: 100%;
}
.col {
    height: 100%;
    position: relative;
}
.borderl {
    border-left: 1px #37474f solid;
}
.selected {
    background-color: #455a64 !important;
    border: 1px solid #546e7a;
}
.bott_right {
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.bott_left {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 500px;
}
.bott_left > .switch {
    display: inline-block;
    margin-right: 10px
}
.bott_left span {
    color: white;
}
.bott_left input.fps {
    height: 20px !important;
    color: white;
}
#add_file {
    padding: 0 10px 0 10px;
}
.btn.disabled {
    background-color: #757575 !important;
}
.btn-floating.disabled {
    background-color: #757575 !important;
}
.bott_left .input-field {
    display: inline-block;
    width: 20px;
    margin-top: inherit;
    margin-bottom: inherit;
}
.switch > span {
    margin-left: -10px;
}
.frameslist {
    overflow:hidden;
    overflow-y:auto;
    max-height: 85%;
    background: #37474f;
}
.frameslist::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #567;
}
.frameslist::-webkit-scrollbar
{
	width: 6px;
	background-color: #555;
    border-radius: 10px;

}
.frameslist::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #345;
    border: 1px #123 solid;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.frameslist > li {
    padding: 0 5px 0 5px;
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
    color: white;
}
.frameslist > li:hover {
    background-color: #345;
}
.toast_errored {
    background-color: #a54;
}
.toast_warned {
    background-color: #542;
}
.toast_log {
    background-color: #243;
}
#toast-container {
  bottom: : auto !important;
  left: auto !important;
  top: 76% !important;
  right: 3% !important;
}
